# Environment variables

#APP
APP_PORT=5000
APP_URL=http://localhost

#DATABASE
DB_URL=postgresql://postgres:1234@localhost:5432/resturant_reservation?schema=hello-prisma

#TESTING DB
DB_TEST_URL=postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public

#JWT_Token
TOKEN_SECRET=f1309cb7ed4a1236342005ea6392678ad59077f72bffc14ec1b2e79b1241aa6257c96ff2ca0f4222e8e97411f64005a9617055fad87d52f35dd32ee1942e2bee
TOKEN_EXPIRE_TIME=1h
