<div class="backgroundColor">
  <br>
  <div class="card container">
    <br>
    <h1 class="title">Feedback Form</h1>
    <br><br>

    <h3 class="header">
      <br>
      <div class="container">
        <button type="button" class="btn-close btn-close-white"></button>
        <br>
        {{'Send us your feedback!' | titlecase}}
        <br><br>
        <h6>
          Do you have a suggestion about our service or found some bugs in our services? <br>
          Your feedback sends as anonymously, let us know your feedback here.
        </h6>
      </div>
      <br><br>
    </h3>

    <form [formGroup]="feedbackForm">
      <div class="container">
        <h4>How was your experience?</h4><br>
        <div class="feeling" id="smileys">
          <input type="radio" formControlName="level" value="POOR" class="sad">
          <input type="radio" formControlName="level" value="AVERAGE" class="neutral">
          <input type="radio" formControlName="level" value="GOOD" class="happy">
        </div>
      </div>
      <br><br>

      <div class="form-floating">
        <textarea class="form-control" formControlName="feedback" placeholder="Leave your feedback here"
                  id="floatingTextarea2"></textarea>
        <label for="floatingTextarea2">Describe Your experience here...</label>
      </div>

      <br>

      <div class="container">
        <h4>Your feedback type?</h4>
        <br>
        <div class="feedbackTypes">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineRadio1"
                   formControlName="type" value="BUG">
            <label class="form-check-label" for="inlineRadio1">Bug</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineRadio2"
                   formControlName="type" value="SUGGESTION">
            <label class="form-check-label" for="inlineRadio2">Suggestion</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineRadio3"
                   formControlName="type" value="OTHER">
            <label class="form-check-label" for="inlineRadio3">Others</label>
          </div>
          <br><br>
        </div>
        <div class="d-grid gap-2">
          <button type="button" class="btn send-btn" (click)="onFeedbackSend()">Send Feedback</button>
          <br><br>
        </div>
      </div>
    </form>
  </div>
  <br>
</div>









