// Standard styling, you can ignore this
.backgroundColor{
    margin: 0;
    background: linear-gradient(to bottom, white 35%, #2b97fc 0%);      
}
.title{
text-align: center; 
color: #2b97fc;
}
.card{
width: 50rem;
border: none;
}
.header{
background-color: #2b97fc; 
color: white;
}
.btn-close{
cursor: pointer;
float: right;
}
.form-control{
height: 300px;
}
textarea{
background-color: #ebf7f6;
}
.send-btn{
font-size: 25px;
background-size: 100px; 
height: 60px; 
color: white;
background-color: #2b97fc;
}
.form-check-label{
font-size: 20px;
}

// Custom radio buttons
.feeling {
&#smileys {
    input[type="radio"] {
        -webkit-appearance: none;
        width: 50px;
        height: 50px;
        cursor: pointer;
        filter: grayscale(100%);
        margin: 0 25px;
        
        &:hover, &:checked {
            filter:	grayscale(0);
        }
            
        &.happy {
            background: url('https://res.cloudinary.com/turdlife/image/upload/v1492864443/happy_ampvnc.svg');
        }
        
        &.neutral {
            background: url('https://res.cloudinary.com/turdlife/image/upload/v1492864443/neutral_t3q8hz.svg');
        }
        &.sad {
            background: url('https://res.cloudinary.com/turdlife/image/upload/v1492864443/sad_bj1tuj.svg');
        }
    }
}
}
