<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img
      src="https://scontent.fcmb2-2.fna.fbcdn.net/v/t1.6435-9/84283495_104526107786559_5526655408439033856_n.png?_nc_cat=106&ccb=1-5&_nc_sid=973b4a&_nc_ohc=t2QCGl6d1T0AX8Y26fW&_nc_ht=scontent.fcmb2-2.fna&oh=4c8a83d80642754f193ad21c8d782681&oe=6182F5A0"
    />
    <a class="navbar-brand" href="#"><b>REST</b></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

      <ul class="navbar-nav mb-3 mb-lg-0 nav-font">
        <li class="nav-item">
          <a class="nav-link" href="#"><b>HOME</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>PAGES</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>FAQ</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>NEWS</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>MENU</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>CONTACT US</b></a>
        </li>
      </ul>
      <button
        type="button"
        class="btn btn-success nav-button nav-font"
        (click)="login_page()"
      >
        RESERVE A TABLE
      </button>
    </div>
  </div>
</nav>
