<div class="container1">
  <div class="forms-container">
    <div class="signin-signup">
      <form [formGroup]="loginForm" class="sign-in-form">
        <h2 class="title">Sign in</h2>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="errorMessages !== undefined"
        >
          {{ errorMessages }}
        </div>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input
            type="text"
            placeholder="Username"
            formControlName="username"
            (change)="onInputFieldsChange()"
          />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
            (change)="onInputFieldsChange()"
          />
        </div>

        <input
          type="submit"
          value="Login"
          class="btn solid"
          (click)="onClickLogin()"
        />
        <p class="social-text">Or Sign in with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
            oogle
          </a>
        </div>
      </form>

      <form [formGroup]="registrationForm" class="sign-up-form">
        <h2 class="title">Sign up</h2>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="errorMessages !== undefined"
        >
          {{ errorMessages }}
        </div>
        <div class="row mb-1">
          <div class="col">
            <div class="input-field1">
              <input
                type="text"
                placeholder="First name"
                formControlName="firstName"
                (change)="onInputFieldsChange()"
              />
            </div>
          </div>
          <div class="col">
            <div class="input-field1">
              <input
                type="text"
                placeholder="Last name"
                formControlName="lastName"
                (change)="onInputFieldsChange()"
              />
            </div>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col">
            <div class="input-field1">
              <input
                type="text"
                placeholder="Phone Number"
                formControlName="phoneNumber"
                (change)="onInputFieldsChange()"
              />
            </div>
          </div>
          <div class="col">
            <div class="input-field1">
              <input
                type="text"
                placeholder="NIC"
                formControlName="nic"
                (change)="onInputFieldsChange()"
              />
            </div>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col">
            <div class="input-field1">
              <input
                type="email"
                placeholder="Email"
                formControlName="email"
                (change)="onInputFieldsChange()"
              />
            </div>
          </div>
          <div class="col">
            <div class="input-field1">
              <input
                type="text"
                placeholder="Username"
                formControlName="username"
                (change)="onInputFieldsChange()"
              />
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <div class="input-field1">
              <input
                type="password"
                placeholder="Password"
                formControlName="password"
                (change)="onInputFieldsChange()"
              />
            </div>
          </div>
          <div class="col">
            <div class="input-field1">
              <input
                type="password"
                placeholder="Conform Password"
                formControlName="confirmPassword"
                (change)="onInputFieldsChange()"
              />
            </div>
          </div>
        </div>

        <input
          type="submit"
          class="btn"
          value="Sign up"
          (click)="onClickSignUp()"
        />
        <p class="social-text">Or Sign up with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
            oogle
          </a>
        </div>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>Online Restaurant</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, ex
          ratione. Aliquid!
        </p>
        <button class="btn transparent" id="sign-up-btn" (click)="signUp()">
          Sign up
        </button>
      </div>
      <img src="./assets/image/Hotel Booking-amico.svg" class="image" alt="" />
    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>Online Restaurant</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
          laboriosam ad deleniti.
        </p>
        <button class="btn transparent" id="sign-in-btn" (click)="signIn()">
          Sign in
        </button>
      </div>
      <img src="./assets/image/Secure login-bro.svg" class="image" alt="" />
    </div>
  </div>
</div>
